# Ignore everything
*

# But not these files...
!.gitignore
!bin
!bin/**
!octopus
!octopus/*
!LICENSE
!package.json
!package-lock.json
!README.md
!CHANGELOG

!web-server
!web-server/*
!web-server/secure-channels
!web-server/secure-channels/*
!web-server/secure-channels/wallet-template
!web-server/secure-channels/wallet-template/**
